# Fichier requirements.txt pour l'Agent RAG Avancé
langchain-core>=1.0.0
langchain-text-splitters>=1.0.0
langchain-community>=0.0.26
transformers
sentence-transformers
faiss-cpu
torch
accelerate
fastapi
uvicorn
pyngrok
deep_translator
requests==2.32.4
langchain-huggingface